@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: flex;
    justify-content: center;
}

input[type="number"],
button {
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
}

#calculateButton:hover {
    background-color: #1e45fa;
    color: white;
    transition: all ease-in-out .3s;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 5px;
}

p {
    display: flex;
    justify-content: center;
}

.anotations textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.credit p {
    margin: 0px;
}

.credit span {
    font-weight: bold;
    margin-left: 4px;
}

.credit span {
    text-decoration: none;
    color: inherit;
}

.credit span:hover {
    text-decoration: underline;
}